.left {
  float: left;
}

.block {
  padding-top: 36px;
  padding-bottom: 34px;
  width: 1252px;
}

.comment::after {
  content: '';
  display: block;
  clear: both;
}

.comment span {
  color: #797979;
}

.comment span.date {
  color: #6e6e6e;
}

span.date::before {
  content: URL(image/cal.png);
  padding-right: 9px;
  position: relative;
  top: 3px;
}

.margin {
  margin-right: 10px;
  margin-left: 10px;
}

.clearfix {
  content: '';
  display: block;
  clear: both;
}

/* GALLERY BLOCK */
.gallery .title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


.gallery p.title {
  display: block;
  padding-bottom: 9px;
  border-bottom: 3px solid black;
  border-color: #c3c3c3;
  width: 200px;
  margin-bottom: 29px;
  text-align: center;
}

.gallery div {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

.gallery .row {
  display: block;
  width: 1272px;
  height: 378px;
}

/* END GALLERY BLOCK */

/* FLOAT BLOCK */

.float {
  width: 1252px;
  height: 300px;
  margin-top: 29px;
  margin-bottom: 60px;
}

.col-12 {
  float: left;
  height: 48px;
  width: 1148px;
  background-color: #e2e2e2;
  border: 1px solid #9f9f9f;
}

.col-1-12 {
  float: right;
  width: 100px;
  height: 48px;
  background-color: #e2e2e2;
  border: 1px solid #9f9f9f;
}

.col-1-12 {
  float: right;
  width: 100px;
  height: 48px;
  background-color: #e2e2e2;
  border: 1px solid #9f9f9f;
}

.col-2-12 {
  float: right;
  width: 200px;
  height: 48px;
  background-color: #e2e2e2;
  border: 1px solid #9f9f9f;
}

.col-11-12 {
  float: left;
  width: 1048px;
  height: 48px;
  background-color: #e2e2e2;
  border: 1px solid #9f9f9f;
}

.col-10-12 {
  float: left;
  width: 948px;
  height: 48px;
  background-color: #e2e2e2;
  border: 1px solid #9f9f9f;
}

.col-3-12 {
  float: right;
  width: 300px;
  height: 48px;
  background-color: #e2e2e2;
  border: 1px solid #9f9f9f;
}

.col-9-12 {
  float: left;
  width: 848px;
  height: 48px;
  background-color: #e2e2e2;
  border: 1px solid #9f9f9f;
}

.col-4-12 {
  float: right;
  width: 400px;
  height: 48px;
  background-color: #e2e2e2;
  border: 1px solid #9f9f9f;
}

.col-8-12 {
  float: left;
  width: 748px;
  height: 48px;
  background-color: #e2e2e2;
  border: 1px solid #9f9f9f;
}

.col-5-12 {
  float: right;
  width: 500px;
  height: 48px;
  background-color: #e2e2e2;
  border: 1px solid #9f9f9f;
}

.col-7-12 {
  float: left;
  width: 648px;
  height: 48px;
  background-color: #e2e2e2;
  border: 1px solid #9f9f9f;
}

.col-6-12 {
  float: right;
  width: 600px;
  height: 48px;
  background-color: #e2e2e2;
  border: 1px solid #9f9f9f;
}

.float2 {
  margin-top: 29px;
  margin-bottom: 60px;
  width: 1252px;
  height: 300px;
}

.col_12 {
  float: left;
  width: 1144px;
  margin-right: 20px;
  margin-bottom: 20px;
  height: 48px;
  background-color: #e2e2e2;
  border: 1px solid #9f9f9f;
}

.col_1-12 {
  float: right;
  width: 84px;
  height: 48px;
  background-color: #e2e2e2;
  border: 1px solid #9f9f9f;
}

.col_11_12 {
  float: left;
  width: 1060px;
  margin-right: 20px;
  margin-bottom: 20px;
  height: 48px;
  background-color: #e2e2e2;
  border: 1px solid #9f9f9f;
}

.col_2-12 {
  float: right;
  width: 168px;
  height: 48px;
  background-color: #e2e2e2;
  border: 1px solid #9f9f9f;
}

.col_10_12 {
  float: left;
  width: 976px;
  margin-right: 20px;
  margin-bottom: 20px;
  height: 48px;
  background-color: #e2e2e2;
  border: 1px solid #9f9f9f;
}

.col_3-12 {
  float: right;
  width: 252px;
  height: 48px;
  background-color: #e2e2e2;
  border: 1px solid #9f9f9f;
}

.col_9_12 {
  float: left;
  width: 892px;
  margin-right: 20px;
  margin-bottom: 20px;
  height: 48px;
  background-color: #e2e2e2;
  border: 1px solid #9f9f9f;
}

.col_4-12 {
  float: right;
  width: 336px;
  height: 48px;
  background-color: #e2e2e2;
  border: 1px solid #9f9f9f;
}

.col_8_12 {
  float: left;
  width: 808px;
  margin-right: 20px;
  margin-bottom: 20px;
  height: 48px;
  background-color: #e2e2e2;
  border: 1px solid #9f9f9f;
}

.col_5-12 {
  float: right;
  width: 420px;
  height: 48px;
  background-color: #e2e2e2;
  border: 1px solid #9f9f9f;
}

.col_7_12 {
  float: left;
  width: 724px;
  margin-right: 20px;
  margin-bottom: 20px;
  height: 48px;
  background-color: #e2e2e2;
  border: 1px solid #9f9f9f;
}

.col_6-12 {
  float: right;
  width: 504px;
  height: 48px;
  background-color: #e2e2e2;
  border: 1px solid #9f9f9f;
}

/* END FLOAT BLOCK */

/* MAIN BLOCK */

body {
  margin: 0;
}

/* END MAIN BLOCK */

/* HEADER BLOCK */

header {
  margin-left: 334px;
  margin-right: 334px;
  width: 1252px;
  padding-bottom: 44px;
  padding-top: 44px;
}

.background {
  width: 100%;
  background-color: #cfe5ef;
  height: 150px;
}

header div {
  display: inline-block;
}

#logo span {
  margin-left: 7px;
}

#enter {
  padding: 10px 15px;
  background-color: #ffffff;
  text-align: center;
  float: right;
  line-height: normal;
}

/* END HEADER BLOCK */

/* MENU */

ul {
  /* убираем маркеры, отступы и марджины */
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  /* overflow: hidden; */
}

li {
  /* делаем горизонтальное меню */
  float: left;
}

li a, .submenu a {
  /* стилизуем ссылки */
  display: block;
  padding: 8px;
  color: #333333;
  font: Bold 20px Roboto;
  text-decoration: none;
  transition: .5s linear;
}

li a:hover, .submenu a:hover, .submenu {
  /* делаем цвет бэкграунда при наведении */
  background-color: #FFFFFF;
}

.submenu {
  /* делаем выпадающий список блочным */
  display: block;
  text-align: left;
}

ul.submenu {
  /* стилизация выпадающего списка */
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 150px;
  background-color: #FFFFFF;
  border-radius: 4px;
  z-index: 1;
}

#menu li:hover ul {
  /*  выпадающее меню */
  display: block;
}

/* END MENU */

section {
  margin-left: 333px;
  margin-right: 333px;
}

hr {
  height: 1px;
  width: 200px;
  margin: 0px;
  color: #c3c3c3;
  margin-bottom: 29px;
}

.news .top {
  width: 1252px;
  height: 127px;
}

.news .left {
  display: block;
  width: 404px;
  margin-right: 111px;
}

.news .right {
  float: right;
  display: block;
  margin: 0px;
  padding: 0px;
}

.news {
  width: 1252px;
  height: 638px;
}

footer {
  width: 1252px;
  height: 600px;
}

p.title {
margin-bottom: 9px; 
}
